# incase make fails...
*.ihx
*.lk
*.mem
*.asm
*.lst
*.rel
*.sym


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64


# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil Projects 
*.uvproj
*.uvopt
*.uvgui.*
Objects/
Listings/
STARTUP.A51

# VS Code 
Keil_CC251x/.vscode

# desktop specific OneDrive saves
*.lawre

# SDCC folders 
Keil_CC251x/obj/
